<div class="row mx-4 my-2">
     <div class="col-md-12 text-center">
          <h1 class="text-warning">About Me!</h1>
     </div>
     <div class="row mt-5 mb-5">
          <div class="col-md-3">
               <!-- image added below -->
               <img src="/Assets/images/professional.jpeg" class="img-fluid mb-2" alt="...">
          </div>
          <div class="col-md-9">
               <div class="mt-4">
                    <p class="h5 text-black">Welcome Aboard!</p>
                    <p class="h5 text-black">
                         <!-- About me information -->
                         My name is<b> Divij Thakur</b>. I am pursuing
                         <b>Software Engineering Technology(Fast-Track)</b> Program at Centennial College.
                    </p>
                    <p class="h5 text-black">
                         I have an experience of 3.5 years as a SQL developer.
                    </p>

               </div>
               <div class="mt-4 text-center"><br><br><br>
                    <!-- to download my resume present in assets -->
                    <p class="h4 text-black"><i class="fas fa-file-download"></i> Download my resume!</p>
                    <a href="/Assets/images/Divij.pdf" download="DivijResume" style="text-decoration: none">
                         <button type="button" class="btn text-dark btn-lg bg-black">Download PDF <i
                                   class="fa fa-download" download></i></button>
                    </a>
               </div>

          </div>
     </div>
</div>