<div class="col-md-12 mx-2 my-2">
     <div class="col-md-12">
          <h1 class="h1 text-warning text-center" style="color: rgb(21, 240, 32)"><i class="fas fa-file-code"></i>
               Projects</h1>
     </div>
     <div class="row mt-5 text-center align-items-center">
          <div class="col-md-8">
               <!-- using box shadow to make it more interactive -->
               <div class="card-body"
                    style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                    <p class="h3" style="color: rgb(85, 41, 160);">Android Login Page</p>
                    <p class="h5 text-black">
                         Android login page is a project that requires proper login credentials, i.e, username and
                         password.
                         If the password is incorrect the app will not sign in and if the username and password matches
                         then it takes to the user account.
                    </p>
               </div>
          </div>
          <div class="col-md-4">
               <div class="card d-flex flex-row-reverse"
                    style="box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                    <img src="Assets/images/login.jpg" class="card-img-top" alt="..."><!-- added images to the site -->

               </div>
          </div>
     </div>
     <div class="row mt-5 text-center align-items-center">
          <!--aligning the items to the centre-->
          <div class="col-md-4">
               <div class="card align-self-end" style="box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;">
                    <img src="Assets/images/songs.jpg" class="card-img-top" alt="..."><br><br><br>

               </div>
          </div>
          <div class="col-md-8">
               <div class="card-body"
                    style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                    <p class="h3" style="color: rgb(85, 41, 160);">Songs Application</p>
                    <p class="h5 text-black">
                         This app is based on Android. It uses a login page to let user sign in and individuals can
                         choose their
                         favourite songs and add them to a list to purchase. It then moves to a new window that lets
                         individuals
                         pay through their debit/credit/cash payments for the purchase.
                    </p>

               </div>
          </div>
     </div>

     <div class="row mt-5 text-center align-items-center">
          <!--aligning the items to the centre-->
          <div class="col-md-8">
               <div class="card-body"
                    style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                    <p class="h3" style="color: rgb(85, 41, 160);">Foodie</p>
                    <p class="h5 text-black">
                         Foodie is a food odering app developed for the users to pick and choose the food they like to
                         eat. After the selection customers
                         are taken to the checkout option where options like removing an item, adding an item, total
                         etc. are present.
                    </p>
               </div>
          </div>
          <div class="col-md-4">
               <div class="card d-flex flex-row-reverse"
                    style="box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                    <img src="Assets/images/food.jpg" class="card-img-top" alt="..."><!-- added images to the site -->

               </div>
          </div>
     </div>

</div>
</div>
</div>