<div class="col-md-12 mx-2 my-2">
     <div class="col-md-12">
          <h1 class="h1 text-warning text-center"><i class="fas fa-lg fa-laptop-code "></i>Services</h1><br>

     </div>
     <div class="col-md-12 mt-4">
          <div class="row">
               <div class="col-md-6">
                    <!-- Mentioned the services that I provide -->
                    <p class="h5 mt-3 text-left text-black">- Android Development </p>
                    <p class="h5 mt-3 text-left text-black">- Database</p>
                    <p class="h5 mt-5 text-left text-black">- Java Programming</p>
                    <p class="h5 mt-3 text-left text-black">- ExpressJs and NodeJs </p>
                    <p class="h5 mt-3 text-left text-black">- Java Enterprise Edition</p>

               </div>
               <div class="col-md-6">
                    <!-- added below image present in assets to the site -->
                    <img src="Assets/images/coding.jpg" class="img-fluid mb-2" alt="...>
              </div>
         </div>
    </div>
</div>